extends layout

block content
  h1= title
  p Welcome to #{title}

  ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/services') Servicios
            li.nav-item
              a.nav-link(href='/users') Usuarios
